.header {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 90%;
    max-width: 1440px;
    padding: 40px 0px 50px 0px;

    img {
        @media (max-width: 610px) {
            width: 145px;
        }

        @media (max-width: 398px) {
            width: 100px;
        }
    }
    
    nav {
        display: flex;
        align-items: center;

        ul {
            display: flex;
            align-items: center;
            gap: 100px;

            @media (max-width: 610px) {
                gap: 35px;
            }

            @media (max-width: 398px) {
                gap: 10px;
            }

            @media (max-width: 290px) {
                flex-direction: column;
            }

            a {
                color: #FF6060;
                font-size: 24px;

                @media (max-width: 610px) {
                    font-size: 20px;
                }

                @media (max-width: 398px) {
                    font-size: 16px;
                }

                &:hover {
                    text-decoration: underline;
                }

                &.active {
                    text-decoration: underline;
                }
            }
        }
    }
}